.header {
  border-bottom: 1px solid #aaa;
  padding-top: 20px;
  padding-bottom: 8px;
}

.header .logo {
  overflow:auto;
}
.header .logo img {
  float: left;
  width: 80px;
  height: 80px;
  background: #555;
}

.header .logo h1 {
  float: left;
  padding-left: 20px;
}

.nav-nobg>li>a {
  background: none;
  border-radius: 0;
  border-left: 3px solid #fff;
}

.nav-nobg>li>a.active {
  background: none;
  border-radius: 0;
  border-left: 3px solid #0081BB;
}

.nav-nobg>li>a:hover {
  background: none;
  border-radius: 0;
  border-left: 3px solid #0081BB;
}

.nav-nobg>li>a:focus {
  background: none;
  border-radius: 0;
  border-left: 3px solid #0081BB;
}

.valign-middle {
  display: table;
}

.valign-middle .columns {
  display: table-cell;
  vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
  float: none;
}