<!DOCTYPE html>
<html ng-app="campaignMS">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="components/bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <link href="components/nouislider.min.css" rel="stylesheet">
  <link rel="stylesheet" href="app.css">
</head>
<body style="background-image: url('components/bg-texture.png');" ng-controller="campaignController">
<header class="container header">
  <section class="logo">
    <img src="components/bmw-logo.jpg" alt="BMW logo" />
    <h1>BMW Campaign Management System</h1>
  </section>

  <section>
    <ul class="nav nav-pills nav-nobg">
      <li ng-repeat="campaign in allCampaigns">
        <a href ng-class="{ active: isSet(campaign.id) }" ng-click="setTab(campaign.id)">{{campaign.title}}</a>
      </li>
    </ul>
  </section>
</header>
<div class="container">
  <div ng-repeat="campaign in allCampaigns" ng-controller="subCampaignController" ng-show="isSet(campaign.id)">
    <h2 style="color: #eaf2d9">Campaign Name: {{campaign.title}}</h2>
    <!--Below is rule setting panel including chart-->
    <div class="row bg-title">
      <h4 class="col-md-12">Rule Setting <i ng-show="isChange">(Haven't applied)</i></h4>
    </div>
    <div class="row bg-body">
      <section class="col-md-6">
        <div class="row" ng-repeat="rule in tempRules" style="padding: 10px 0px">
          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">{{rule.name}}</div>
              <input type="text" class="form-control" listen-change ng-model="rule.rate" ng-change="syncSlider(rule.rate)">
              <div class="input-group-addon">%</div>
            </div>
          </div>
          <div class="col-md-8" style="padding-top: 8px">
            <slider ng-model="rule.rate"></slider>
          </div>
        </div>
        <div class="row" style="padding: 10px 0px">
          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">Base</div>
              <input type="text" class="form-control" listen-change ng-model="tempBase">
              <div class="input-group-addon">$</div>
            </div>
          </div>
          <div class="col-md-8">
            <button type="button" class="btn btn-default" ng-click="applyChanges()" style="outline: none;">Apply the rule</button>
            <div class="btn-group" role="group" aria-label="Run/Stop">
              <button type="button" class="btn" ng-class="{ 'btn-primary': campaign.isRun, 'btn-default': !campaign.isRun }" ng-click="run()" style="outline: none;">Run</button>
              <button type="button" class="btn" ng-class="{ 'btn-primary': !campaign.isRun, 'btn-default': campaign.isRun }" ng-click="stop()" style="outline: none;">Stop</button>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-6">
        <rule-chart></rule-chart>
      </section>
    </div>
    <!--Above is rule setting panel including chart-->
    <div class="interval"></div>
    <!--Below is Data Panel-->
    <div class="row bg-title">
      <h4 class="col-md-12">Data Panel</h4>
    </div>
    <div class="row bg-body">
      <table class="table table-hover">
        <thead>
          <th>
            Start Time
          </th>
          <th>
            Duration(s)
          </th>
          <th ng-repeat="rule in campaign.rules">
            {{rule.name}} <i>(Clicks*Rate)</i>
          </th>
          <th>
            Balance
          </th>
        </thead>
        <tr ng-show="campaign.isRun">
          <td>
            {{campaign.startTime | date}}
          </td>
          <td>
            {{campaign.duration}}
          </td>
          <td ng-repeat="rule in campaign.rules">
            {{campaign.currentClicks[rule.name]}}*{{rule.rate * campaign.base / 100}}
          </td>
          <td>
            {{campaign.balance | number:0}}
          </td>
        </tr>
        <tr ng-repeat="history in campaign.histories | orderBy:'$index':true">
          <td>
            {{history.startTime | date}}
          </td>
          <td>
            {{history.duration}}
          </td>
          <td ng-repeat="rule in history.rules">
            {{history.clicks[rule.name]}}*{{rule.rate * history.base / 100}}
          </td>
          <td>
            {{history.balance | number:0}}
          </td>
        </tr>
      </table>
    </div>
    <!--Above is Data Panel-->
  </div>
</div>

<script src="components/nouislider.min.js"></script>
<script src="components/Chart.min.js"></script>
<script src="components/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>